<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.WfDeployCallActivityMapper">
    <resultMap id="SnapshotResult" type="com.ruoyi.flowable.domain.WfDeployCallActivitySnapshot">
        <id property="snapshotId" column="snapshot_id"/>
        <result property="deployId" column="deploy_id"/>
        <result property="processKey" column="process_key"/>
        <result property="elementId" column="element_id"/>
        <result property="versionPolicy" column="version_policy"/>
        <result property="targetDefinitionId" column="target_definition_id"/>
        <result property="targetProcessKey" column="target_process_key"/>
        <result property="targetProcessName" column="target_process_name"/>
        <result property="targetVersion" column="target_version"/>
        <result property="targetDeploymentId" column="target_deployment_id"/>
        <result property="inheritVariables" column="inherit_variables"/>
        <result property="inheritBusinessKey" column="inherit_business_key"/>
        <result property="localScopeForOutput" column="local_scope_for_output"/>
        <result property="propagationPolicy" column="propagation_policy"/>
        <result property="inputMappingsJson" column="input_mappings_json"/>
        <result property="outputMappingsJson" column="output_mappings_json"/>
        <result property="snapshotChecksum" column="snapshot_checksum"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertBatch">
        <choose><when test="snapshots != null and snapshots.size() > 0">
            insert into wf_deploy_call_activity
            (deploy_id, process_key, element_id, version_policy, target_definition_id,
             target_process_key, target_process_name, target_version, target_deployment_id,
             inherit_variables, inherit_business_key, local_scope_for_output, propagation_policy,
             input_mappings_json, output_mappings_json, snapshot_checksum, create_by, create_time)
            values <foreach collection="snapshots" item="item" separator=",">
                (#{item.deployId}, #{item.processKey}, #{item.elementId}, #{item.versionPolicy},
                 #{item.targetDefinitionId}, #{item.targetProcessKey}, #{item.targetProcessName},
                 #{item.targetVersion}, #{item.targetDeploymentId}, #{item.inheritVariables},
                 #{item.inheritBusinessKey}, #{item.localScopeForOutput}, #{item.propagationPolicy},
                 #{item.inputMappingsJson}, #{item.outputMappingsJson}, #{item.snapshotChecksum},
                 #{item.createBy}, current_timestamp(3))
            </foreach>
        </when><otherwise>
            insert into wf_deploy_call_activity
            (deploy_id, process_key, element_id, version_policy, target_definition_id,
             target_process_key, target_process_name, target_version, target_deployment_id,
             inherit_variables, inherit_business_key, local_scope_for_output, propagation_policy,
             input_mappings_json, output_mappings_json, snapshot_checksum, create_by, create_time)
            select '', '', '', 'FIXED', '', '', '', 1, '', false, false, false,
                   'CASCADE_ROOT', '[]', '[]', repeat('0', 64), '', current_timestamp(3) where 1 = 0
        </otherwise></choose>
    </insert>

    <select id="selectByDeploymentId" resultMap="SnapshotResult">
        select snapshot_id, deploy_id, process_key, element_id, version_policy,
               target_definition_id, target_process_key, target_process_name, target_version,
               target_deployment_id, inherit_variables, inherit_business_key,
               local_scope_for_output, propagation_policy, input_mappings_json,
               output_mappings_json, snapshot_checksum, create_by, create_time
        from wf_deploy_call_activity where deploy_id = #{deployId}
        order by process_key, element_id
    </select>

    <delete id="deleteByDeploymentId">
        delete from wf_deploy_call_activity where deploy_id = #{deployId}
    </delete>
</mapper>
