<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.WfDeployConditionRuleMapper">
    <resultMap id="ConditionRuleResult" type="com.ruoyi.flowable.domain.WfDeployConditionRule">
        <id property="ruleId" column="rule_id"/>
        <result property="deployId" column="deploy_id"/>
        <result property="processKey" column="process_key"/>
        <result property="gatewayId" column="gateway_id"/>
        <result property="gatewayType" column="gateway_type"/>
        <result property="gatewayToken" column="gateway_token"/>
        <result property="flowId" column="flow_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="flowToken" column="flow_token"/>
        <result property="defaultFlow" column="default_flow"/>
        <result property="ruleJson" column="rule_json"/>
        <result property="celConfigJson" column="cel_config_json"/>
        <result property="snapshotChecksum" column="snapshot_checksum"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Columns">
        rule_id, deploy_id, process_key, gateway_id, gateway_type, gateway_token,
        flow_id, flow_name, flow_token, default_flow, rule_json, cel_config_json,
        snapshot_checksum, create_by, create_time
    </sql>

    <insert id="insertBatch">
        <choose><when test="snapshots != null and snapshots.size() > 0">
            insert into wf_deploy_condition_rule
            (deploy_id, process_key, gateway_id, gateway_type, gateway_token,
             flow_id, flow_name, flow_token, default_flow, rule_json, cel_config_json,
             snapshot_checksum, create_by, create_time)
            values <foreach collection="snapshots" item="item" separator=",">
                (#{item.deployId}, #{item.processKey}, #{item.gatewayId}, #{item.gatewayType},
                 #{item.gatewayToken}, #{item.flowId}, #{item.flowName}, #{item.flowToken},
                 #{item.defaultFlow}, #{item.ruleJson}, #{item.celConfigJson},
                 #{item.snapshotChecksum}, #{item.createBy}, current_timestamp(3))
            </foreach>
        </when><otherwise>
            insert into wf_deploy_condition_rule
            (deploy_id, process_key, gateway_id, gateway_type, gateway_token,
             flow_id, flow_name, flow_token, default_flow, rule_json, cel_config_json,
             snapshot_checksum, create_by, create_time)
            select '', '', '', 'EXCLUSIVE', '000000000000000000000000', '', '',
                   '000000000000000000000000', 1, '{}', null, repeat('0', 64), '', current_timestamp(3)
            where 1 = 0
        </otherwise></choose>
    </insert>

    <select id="selectRuntimeGateway" resultMap="ConditionRuleResult">
        select <include refid="Columns"/>
        from wf_deploy_condition_rule
        where deploy_id = #{deployId} and process_key = #{processKey}
          and gateway_token = #{gatewayToken}
        order by flow_id
    </select>

    <select id="selectByDeploymentId" resultMap="ConditionRuleResult">
        select <include refid="Columns"/>
        from wf_deploy_condition_rule
        where deploy_id = #{deployId}
        order by process_key, gateway_id, flow_id
    </select>

    <delete id="deleteByDeploymentId">
        delete from wf_deploy_condition_rule where deploy_id = #{deployId}
    </delete>
</mapper>
