<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.WfProcessDraftAuditMapper">
    <insert id="insert">
        insert into wf_process_draft_audit
        (draft_id, owner_user_id, action_type, from_status, to_status,
         from_revision, to_revision, process_instance_id, detail_json, create_time)
        values (#{draftId}, #{ownerUserId}, #{actionType}, #{fromStatus}, #{toStatus},
                #{fromRevision}, #{toRevision}, #{processInstanceId}, #{detailJson}, current_timestamp(3))
    </insert>
</mapper>
