<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.WfDeployFormMapper">

    <resultMap id="WfDeployFormResult" type="com.ruoyi.flowable.domain.WfDeployForm">
        <id property="deployId" column="deploy_id"/>
        <id property="formKey" column="form_key"/>
        <id property="nodeKey" column="node_key"/>
        <result property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="nodeName" column="node_name"/>
        <result property="content" column="content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <insert id="insertBatch">
        <choose>
            <when test="forms != null and forms.size() > 0">
                insert into wf_deploy_form
                    (deploy_id, form_id, form_key, node_key, form_name,
                     node_name, content, create_by, create_time, del_flag)
                values
                <foreach collection="forms" item="form" separator=",">
                    (#{form.deployId}, #{form.formId}, #{form.formKey}, #{form.nodeKey},
                     #{form.formName}, #{form.nodeName}, #{form.content}, #{form.createBy},
                     current_timestamp, '0')
                </foreach>
            </when>
            <otherwise>
                insert into wf_deploy_form
                    (deploy_id, form_id, form_key, node_key, form_name,
                     node_name, content, create_by, create_time, del_flag)
                select '', 0, '', '', '', '', '{}', '', current_timestamp, '0'
                where 1 = 0
            </otherwise>
        </choose>
    </insert>

    <select id="selectByDeploymentId" resultMap="WfDeployFormResult">
        select deploy_id, form_id, form_key, node_key, form_name,
               node_name, content, create_by, create_time, del_flag
        from wf_deploy_form
        where deploy_id = #{deploymentId}
          and del_flag = '0'
        order by node_key, form_key
    </select>

    <select id="countByFormIds" resultType="java.lang.Integer">
        select count(*)
        from wf_deploy_form
        where del_flag = '0'
        <choose>
            <when test="formIds != null and formIds.size() > 0">
                and form_id in
                <foreach collection="formIds" item="formId" open="(" separator="," close=")">
                    #{formId}
                </foreach>
            </when>
            <otherwise>
                and 1 = 0
            </otherwise>
        </choose>
    </select>

    <delete id="deleteByDeploymentId">
        delete from wf_deploy_form
        where deploy_id = #{deploymentId}
          and del_flag = '0'
    </delete>

</mapper>
