<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flowable.mapper.WfParticipantResolutionAuditMapper">
    <insert id="insert">
        insert into wf_participant_resolution_audit
        (event_type, deploy_id, process_definition_id, process_instance_id, task_id,
         activity_id, rule_id, initiator_user_id, actor_user_id, resolved_user_ids,
         resolved_group_ids, result_code, detail_summary, create_time)
        values
        (#{eventType}, #{deployId}, #{processDefinitionId}, #{processInstanceId}, #{taskId},
         #{activityId}, #{ruleId}, #{initiatorUserId}, #{actorUserId}, #{resolvedUserIds},
         #{resolvedGroupIds}, #{resultCode}, #{detailSummary}, current_timestamp(3))
    </insert>
</mapper>
